<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  
  <body>
    <h1 id="header">Music App</h1>
    <% if logged_in? %>
      <h2>Welcome, <%= current_user.email %></h2>
      <form action="<%= session_url %>" method="POST">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='_method' value='delete'>
        <input type="submit" value="Logout">
      </form>
    <% else %>
    <div class="navlink">
      <a href="<%= new_user_url %>"><button class="sl" type="button">Sign up!</button></a>
      <a href="<%= new_session_url %>"><button class="sl" type="button">Log in!</button></a>

      
    </div>
    <% end %>
    <%= yield %>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p> <%= error %> </p>
        <% end %>
      <% end %>
       <% if flash[:messages] %>
        <% flash[:messages].each do |message| %>
          <p> <%= message %> </p>
        <% end %>
      <% end %>
  </body>
</html>
